## ДЗ Урок 2. Работа с библиотекой Pandas, часть 1. Загрузка данных и анализ их структуры

1. Загрузить, просмотреть, определить количество строк и склеить 3 датасета: marketing_campaign.csv, users.csv и subscribers.csv.

In [3]:
import pandas as pd
import numpy as np

df_mc = pd.read_csv('marketing_campaign.csv')
df_mc.info()
df_mc

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             10037 non-null  object
 1   date_served         10021 non-null  object
 2   marketing_channel   10022 non-null  object
 3   variant             10037 non-null  object
 4   language_displayed  10037 non-null  object
 5   converted           10022 non-null  object
dtypes: object(6)
memory usage: 470.6+ KB

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True
3,a1003,1/1/18,House Ads,personalization,English,True
4,a1004,1/1/18,House Ads,personalization,English,True
...,...,...,...,...,...,...
10032,a11032,1/17/18,Email,control,German,True
10033,a11033,1/17/18,Email,control,German,True
10034,a11034,1/5/18,Instagram,control,German,False
10035,a11035,1/17/18,Email,control,German,True
10036,a11036,1/6/18,Facebook,control,German,False

In [4]:
df_users = pd.read_csv('users.csv')
df_users.info()
df_users

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             10037 non-null  object
 1   age_group           10037 non-null  object
 2   language_preferred  10037 non-null  object
dtypes: object(3)
memory usage: 235.4+ KB

      user_id    age_group language_preferred
0       a1000   0-18 years            English
1       a1001  19-24 years            English
2       a1002  24-30 years            English
3       a1003  30-36 years            English
4       a1004  36-45 years            English
...       ...          ...                ...
10032  a11032  45-55 years             German
10033  a11033    55+ years             German
10034  a11034    55+ years             German
10035  a11035   0-18 years             German
10036  a11036   0-18 years             German

[10037 rows x 3 columns]

In [5]:
df_subscribers = pd.read_csv('subscribers.csv')
df_subscribers.info()
df_subscribers

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   subscribing_channel  1856 non-null   object
 2   date_subscribed      1856 non-null   object
 3   date_canceled        577 non-null    object
 4   is_retained          1856 non-null   object
dtypes: object(5)
memory usage: 392.2+ KB

      user_id subscribing_channel date_subscribed date_canceled is_retained
0       a1000           House Ads          1/1/18           NaN        True
1       a1001           House Ads          1/1/18           NaN        True
2       a1002           House Ads          1/1/18           NaN        True
3       a1003           House Ads          1/1/18           NaN        True
4       a1004           House Ads          1/1/18           NaN        True
...       ...                 ...             ...           ...         ...
10032  a11032               Email         1/17/18       1/24/18       False
10033  a11033               Email         1/17/18           NaN        True
10034  a11034               Email         1/17/18           NaN        True
10035  a11035               Email         1/17/18           NaN        True
10036  a11036               Email         1/17/18           NaN        True

[10037 rows x 5 columns]

In [13]:
df = df_mc.merge(df_users, on = 'user_id').merge(df_subscribers, on = 'user_id')
df

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,1/1/18,House Ads,personalization,English,True,0-18 years,English,House Ads,1/1/18,NaN,True
1,a1001,1/1/18,House Ads,personalization,English,True,19-24 years,English,House Ads,1/1/18,NaN,True
2,a1002,1/1/18,House Ads,personalization,English,True,24-30 years,English,House Ads,1/1/18,NaN,True
3,a1003,1/1/18,House Ads,personalization,English,True,30-36 years,English,House Ads,1/1/18,NaN,True
4,a1004,1/1/18,House Ads,personalization,English,True,36-45 years,English,House Ads,1/1/18,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...
10032,a11032,1/17/18,Email,control,German,True,45-55 years,German,Email,1/17/18,1/24/18,False
10033,a11033,1/17/18,Email,control,German,True,55+ years,German,Email,1/17/18,NaN,True
10034,a11034,1/5/18,Instagram,control,German,False,55+ years,German,Email,1/17/18,NaN,True
10035,a11035,1/17/18,Email,control,German,True,0-18 years,German,Email,1/17/18,NaN,True
10036,a11036,1/6/18,Facebook,control,German,False,0-18 years,German,Email,1/17/18,NaN,True

2. Определить количество, типы и описательные статистики колонок (столбцов) получившегося датасета.

In [14]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   age_group            10037 non-null  object
 7   language_preferred   10037 non-null  object
 8   subscribing_channel  1856 non-null   object
 9   date_subscribed      1856 non-null   object
 10  date_canceled        577 non-null    object
 11  is_retained          1856 non-null   object
dtypes: object(12)
memory usage: 1019.4+ KB

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
count,10037,10021,10022,10037,10037,10022,10037,10037,1856,1856,577,1856
unique,10037,31,5,2,4,2,7,4,5,31,115,2
top,a1000,1/15/18,House Ads,control,English,False,19-24 years,English,Instagram,1/16/18,4/2/18,True
freq,1,789,4733,5091,9793,8946,1682,9275,600,163,15,1279

3. Определить эффективность маркетинговых каналов по привлечению платящих игроков.

In [18]:
df[df['converted'] == True]['subscribing_channel'].value_counts(normalize = True) * 100

House Ads    28.380952
Instagram    25.238095
Facebook     22.571429
Email        15.904762
Push          7.904762
Name: subscribing_channel, dtype: float64

4. Определить самую раннюю дату подписки на сервис.

In [40]:
df[df['date_subscribed'].str.contains('nan') == False]['date_subscribed'].min()

'1/1/18'

5. Определить портрет аудитории удержанных подписчиков (по возрасту и языку).

In [56]:
df[df['is_retained'] == True].filter(items = ['age_group', 'language_preferred']).value_counts()

age_group    language_preferred
19-24 years  English               304
24-30 years  English               250
0-18 years   English               210
30-36 years  English               114
45-55 years  English               108
36-45 years  English               107
55+ years    English                86
24-30 years  German                 15
19-24 years  German                 11
             Spanish                10
0-18 years   German                 10
30-36 years  Spanish                 7
45-55 years  Spanish                 6
0-18 years   Spanish                 6
36-45 years  Spanish                 5
24-30 years  Spanish                 5
55+ years    Spanish                 5
45-55 years  German                  3
0-18 years   Arabic                  3
24-30 years  Arabic                  3
45-55 years  Arabic                  2
36-45 years  German                  2
55+ years    Arabic                  2
             German                  2
36-45 years  Arabic                  1
19-24 years  Arabic                  1
30-36 years  German                  1
dtype: int64